

.boton_login{
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("icons/angles-down-solid.svg")
  }

.encuadre{
    color: yellowgreen;
}

.videoindex{
    width: 100%;
    max-width: 545px;
}

.videoindex{
    width: 100%;
}
  